<template>
    <div>
        <h3 class="title text-black">Comments ({{ commentsCount}})</h3>
        <template v-for="comment in comments">
            <commentLine :userName="comment.user.name" :created_at="comment.created_at" :message="comment.comment"></commentLine>
        </template>
        <div class="col-xs-12" style="margin-top: 20px" v-if="auth == 1">
            <textarea class="form-control" placeholder="Write comment" v-model="message"></textarea><br>
            <button class="btn btn-primary pull-right" v-on:click="createMessage()">Comment</button>
        </div>
    </div>
</template>

<script>
    Vue.component('commentLine', {
        props: ['userName', 'created_at', 'message'],
        template:
        '<div class="commentLine">' +
            '<div class="col-xs-12 article-subsection">' +
                '<img class="article-user-img" src="http://blog.dev/img/default_user_img.jpg">' +
                '<a href="#"> {{ userName }} </a>' +
                '<span><i class="fa fa-calendar"></i> {{ created_at }}</span>' +
            '</div>' +
            '<div class="col-xs-12 article-subsection">' +
                '<span style="margin-left: 15px">{{ message }}</span> ' +
            '</div>' +
        '</div>'
    })

    import axios from 'axios'

    export default {
        props: ['comments', 'auth', 'articleid'],
        data() {
            return {
                commentsCount: this.comments.length,
                message: '',
                errors: ''
            }
        },
        created: function() {
            Echo.channel('comments-room.' + this.articleid)
                .listen('UserCommented', (e) => {
                    this.displayNewMessage(e.data);
                });
        },
        methods: {
            displayNewMessage: function(data) {
                this.commentsCount += 1;
                var appendTo = $(".commentLine").length == 0 ? $(".title").last() : $(".commentLine").last();
                appendTo.after(
                    '<div class="commentLine">' +
                    '<div class="col-xs-12 article-subsection">' +
                    '<img class="article-user-img" src="http://blog.dev/img/default_user_img.jpg">' +
                    '<a href="#"> ' + data.user.name +' </a>' +
                    '<span><i class="fa fa-calendar"></i>' + data.comment.created_at + '</span>' +
                    '</div>' +
                    '<div class="col-xs-12 article-subsection"  style="background-color: #bff8bf">' +
                    '<span style="margin-left: 15px">' + data.comment.comment + '</span> ' +
                    '</div>' +
                    '</div>'
                );
            },
            createMessage: function() {
                axios.post('/dashboard/create/comment', {
                    text: this.message,
                    article_id: this.articleid
                })
                .then((response) => {
                    this.message = ''
                })
                .catch((error) => {
                    console.log(error)
                });
            }
        }
    }
</script>
