body {
    background: #e9eaed;
    color: #999;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.4s;
}

.nav-wrapper {
    max-width: 970px;
    margin: 0 auto;
}

#wrapper {
    min-height: 461px;
    background: #fff;
    max-width: 970px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

#content-wrapper {
    padding: 0;
    margin: 0 auto 0 auto;
}

.section-main {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: none;
    border-left: none;
}

.widget {
    padding: 20px 5px;
    background-color: #fff;
}

.widget-content {
    background: #ecf0f1;
    color: #999;
}

.widget-text {
    line-height: 90px;
    text-align: center;
    box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.05);
}

.post {
    float: left;
    padding: 20px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
}

.post > .col-xs-5 {
    width: 36%;
}

.post > .col-xs-7 {
    width: 64%;
}

.post img {
    float: left;
    margin-right: 20px;
    max-width: 200px;
}

.post-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0
}

.post-info {
    margin: 15px 0 15px 0;
}

.post-info > span > a {
    font-size: 12px;
    text-decoration: none;
    color: #999;
    margin: 0 10px 0 3px;
}

.post-info > span > a:hover {
    color: #2980b9;
}

.pagination {
    margin: 0 0 0 15px;
}

.pagination > li > a {
    color: #666;
    font-weight: 700;
}

.pagination > li.active > a, .pagination > li.active > a:hover {
    background: #fafafa;
    border-color: #dddddd;
    color: #666;
}

.sidebar-section {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.sidebar-widget-title {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.sidebar-widget-title:after {
    /*content: '';*/
    display: inline-block;
    position: absolute;
    height: 15px;
    top: 0;
    margin: 3px 0 12px 10px;
    width: 100%;
    background: url("../img/repeat-bg.png") repeat;
    opacity: 0.8;
}

.sidebar-post {
    float: left;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
}

.sidebar-post img {
    margin-right: 10px;
    max-width: 78px;
    float: left;
}

.sidebar-post a {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.6;
    color: #111;
    text-decoration: none;
}

.sidebar-post a:hover {
    color: #2980b9;
}

.social-item {
    cursor: pointer;
    text-decoration: none;
    display: block;
    opacity: 0.9;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    width: 48%;
    float: left;
    margin-bottom: 10px;
}

.social-icon {
    text-align: center;
    float: left;
    line-height: 50px;
    width: 41px;
    font-size: 24px;
}

.social-facebook {
    background: #3F5B9B;
}

.social-icon.fa-facebook {
    background: #2E4372;
}

.social-item.social-facebook:hover {
    color: #fff;
    text-decoration: none;
    background: #2E4372;
}

.social-item.social-facebook:hover .social-icon.fa-facebook {
    background: #3F5B9B;
}

.social-twitter {
    background: #1C97DE;
}

.social-icon.fa-twitter {
    background: #1571A5;
}

.social-item.social-twitter:hover {
    color: #fff;
    text-decoration: none;
    background: #1571A5;
}

.social-item.social-twitter:hover .social-icon.fa-twitter {
    background: #1C97DE;
}

.social-rss {
    background: #E86321;
}

.social-icon.fa-user-plus {
    background: #C2521B;
}

.social-item.social-rss:hover {
    color: #fff;
    text-decoration: none;
    background: #C2521B;
}

.social-item.social-rss:hover .social-icon.fa-user-plus {
    background: #E86321;
}

.social-google-plus {
    background: #E82C2C;
}

.social-icon.fa-google-plus {
    background: #BF2424;
}

.social-item.social-google-plus:hover {
    color: #fff;
    text-decoration: none;
    background: #BF2424;
}

.social-item.social-google-plus:hover .social-icon.fa-google-plus {
    background: #E82C2C;
}

.navbar-default {
    margin-bottom: 0;
    min-height: 60px;
    border: none;
    border-radius: 0;
    background-color: #3B5998;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #355089;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #3B5998;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-brand {
    font-size: 28px;
    padding: 20px 10px 20px 0;
}

.navbar-default .navbar-brand:hover {
    color: #F1B545;
}

.navbar-form {
    padding: 5px 0 0 0;
}

.navbar-form input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar-form button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #355089;
}

.navbar-default .dropdown-menu {
    background-color: #3B5998;
    border: none;
}

.navbar-default .dropdown-menu > li > a {
    font-size: 13px;
    color: #fff;
}

.navbar-default .dropdown-menu > li > a:hover {
    background-color: #355089;
}

footer {
    background-color: #2c2532;
    border-top: 5px solid #642e8b;
}

footer .footer-wrapper {
    max-width: 970px;
    margin: 0 auto;
}

footer ul.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul.footer-menu > li {
    display: inline-block;
    padding: 20px 20px 20px 0
}

footer ul.footer-menu > li > a {
    text-decoration: none;
    color: #fdbc40;
}

footer ul.footer-menu > li > a:hover {
    text-decoration: none;
    color: #fff;
}

footer ul.footer-social-icons {
    margin-top: 12.5px;
    list-style: none;
}

footer ul.footer-social-icons > li {
    display: inline-block;
}

footer ul.footer-social-icons > li > a > span {
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.4s;
}

footer ul.footer-social-icons > li > a > span.social-google-plus:hover {
    background: #BF2424;
}

footer ul.footer-social-icons > li > a > span.social-facebook:hover {
    background: #2E4372;
}

footer ul.footer-social-icons > li > a > span.social-twitter:hover {
    background: #1571A5;
}

footer ul.footer-social-icons > li > a > span.social-rss:hover {
    background: #C2521B;
}

footer .footer-copyright {
    background: #1E1923;
}

footer .footer-copyright p {
    padding: 20px 0;
    margin: 0;
}

footer .footer-copyright a {
    text-decoration: none;
    color: #999;
}

footer .footer-copyright a:hover {
    text-decoration: none;
    color: #fff;
}

.equal {
    display: flex;
    display: -webkit-flex;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 20px 10px;
    }
}

@media (max-width: 768px) {
    .navbar-default {
        background-color: #2980B9;
    }
    .navbar-default .navbar-brand {
        position: absolute;
        left: 50%;
        margin-top: 10px;
        margin-left: -55px !important;
        display: block;
    }

    .navbar-default .brand-text {
        display: block !important;
        position: absolute;
        left: 50%;
        margin-top: 80px;
        margin-left: -95px !important;
        color: #fff;
    }

    .navbar-default .navbar-toggle {
        float: left;
        border: none;
        color: #111;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #fff;
    }

    .navbar-default .navbar-toogle-div {
        float: left;
        background-color: #fff;
        width: 100%;
        margin-top: 130px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    .navbar-default .navbar-collapse {
        background-color: #fff;
    }

    .navbar-default .navbar-collapse a {
        text-transform: capitalize !important;
        color: #111 !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    .navbar-default .navbar-collapse a:hover {
        text-transform: capitalize !important;
        color: #111 !important;
        background-color: #E9F1F2 !important;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: #E9F1F2 !important;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        background-color: #E9F1F2 !important;
    }

    .navbar-default .navbar-form {
        display: none;
    }
}

@media (max-width: 892px) {
    .navbar-form .input-group > .form-control {
        width: 72px;
    }
}

@media (max-width: 504px) {
    .post p {
        display: none;
    }

    .post .post-title {
        font-size: 14px;
    }

    .post .post-info {
        font-size: 12px;
    }
}

@media (max-width: 855px) {
    .social-item {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .navbar-form .input-group > .form-control {
        width: 100%;
    }

    .social-item {
        width: 48%;
    }
}

.title {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.text-black {
    color: #000;
}

.required_field {
    color: #ff7058;
}

.control-label {
    color: #000;
    font-size: 13px;
}

.form-group > .description {
    margin-top: 5px;
    font-size: 11px;
    line-height: 15px;
}

#wrapper .container-fluid .row {
    padding: 5px;
}

.article-subsection {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.article-user-img {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.single-article-img {
    max-width: 300px;
    margin: 0 25px 25px 0   ;
    float: left;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    margin-top: 10px;
    width: 100%;
}

.modalMsg {
    height: auto;
    max-height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 40%;
    opacity:  0.9;
}

.modalMsg .modal-content {
    border: none;
}
.modalMsg .modal-content .modal-body {
    background-color: #3B5998;
    color: #fff;
}